
<div id="sidebar">
  <div class="profile-userpic">
  </div>
  <div>
    <div class="card">
      <p style="text-align:center">
        <img src="../../assets/img/humanIcon.png" alt="Username" style="width:30%;">

      </p>
      <h4>  {{username|uppercase}}</h4>
      <p class="title">{{Email}}</p>
     
    </div>
    <!--<div class="profile-usertitle">
      <div class="profile-usertitle-name">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        {{username}}

      </div>
      <div class="profile-usertitle-job" style="color:white">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        {{Email}}
      </div>
    </div>-->
    <ul >
      <li [routerLink]='["/user"]' title="Add new User">Add User</li>
      <li [routerLink]='["/incidentSupport"]' title="Go to incident support">Incident Support</li>

    </ul>
    <ul>
      <li style="text-align:center" (click)="logout()" routerLink='/' title="Log Out"><i class="fa fa-power-off"></i></li>

    </ul>
  </div>
</div>

