
<div class="row">
  <div class="col-md-2">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-10">
    <div class="card" style="border-color:#17a2b8">


      <div class="card-header" style="background-color:#0070ad">
        <b style="font-weight:bold;font-family:Arial;color:white">  Ticket List</b>
        <div class="btn-group pull-right">
        </div>
      </div>


      <div class="card-body">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">


          <div class="radio">
            <input type="radio" (change)="onChange('All')" value="All" name="status" checked="checked" />All
            <input type="radio" (change)="onChange('Outstanding')" value="Outstanding" name="status" />Outstanding
            <input type="radio" (change)="onChange('Response')" value="Response" name="status" />Response
            <input type="radio" (change)="onChange('Resolved')" value="Resolved" name="status" />Resolved
            <input type="radio" (change)="onChange('Confirm')" value="Confirm" name="status" />Confirm
          </div>

          <div class="input-group" style="width:200px;">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm" />
            <span class="input-group-addon">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </nav>
        <table class="table table-striped table-hover">

          <thead class="bg-light">

            <tr>
              <th></th>
              <th class="tableheading">Ticket Code</th>
              <th class="tableheading">Module Name</th>
              <th class="tableheading">Priority</th>
              <th class="tableheading">Raised Date</th>
              <th class="tableheading">Status</th>
            </tr>
          </thead>
          <tbody style="background-color:azure;color:black">
            <tr style="cursor:pointer" *ngFor="let raiseTicketList of raiseTicketService.IncidentList|searchIncidents:searchTerm|paginate:config">

              <td class="label">
                <a (click)="ShowOrEdit(raiseTicketList.IncidentId,content)" title="Edit">
                  <span class="fa fa-pencil square-o"></span>
                </a>

              </td>
              <td class="label">{{raiseTicketList.IncidentCode}}</td>
              <td class="label">{{raiseTicketList.ModuleName}}</td>
              <td class="label">{{raiseTicketList.Priority}}</td>
              <td class="label">{{raiseTicketList.RaisedDateTime|date:"dd-MMM-yyyy"}}</td>
              <td class="label">{{raiseTicketList.Status}}</td>

            </tr>
            <tr>
              <td colspan="6" *ngIf="(raiseTicketService.IncidentList |searchIncidents:searchTerm)?.length==0" style="text-align:center"><b style="color:red;text-align:center">Sorry ! No data found..</b></td>
            </tr>
          </tbody>


        </table>

        <footer style="text-align:center">
          <pagination-controls (pageChange)="pageChangeMethod($event)" *ngIf="(raiseTicketService.IncidentList)?.length > 0"></pagination-controls>
        </footer>

      </div>

    </div>

  </div>
</div>

