
<div style="height:640px;width:100%;background-color:lightblue;overflow:no-display;overflow-x:no-display;overflow-y:no-display;">
  <form #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)" autocomplete="new-password">
    <div class="row" style="padding-top:160px;">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="card">



          <div class="card-body">
            <img src="../../assets/img/Ceaselezlogo.png" style="width:30%;" />

            <div class="card-body">

              <h2>Supporter Login</h2>
              <div class="inputWithIcon">

                <input type="text" [email]="true" tabindex="1" [style.border-color]="UserName.valid || Password.invalid  ? 'darkgray': 'red'" #UserName="ngModel" ngModel name="UserName" placeholder="User name" [(ngModel)]="model.UserName" required autocomplete="off">
                <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
              </div>

              <div class="validation-error" [hidden]="UserName.valid || UserName.pristine" style="font-family:Arial;font-size:12px;color:red;line-height:normal">Enter an valid user name.</div>

              <div class="inputWithIcon">
                <input type="password" tabindex="2" id="Password" placeholder="Password" autocomplete="off"
                       required
                       [(ngModel)]="model.Password" name="Password"
                       #Password="ngModel">
                <i class="fa fa-lock a-lg fa-fw" aria-hidden="true"></i>
              </div>

              <div class="validation-error" [hidden]="Password.valid || Password.pristine" style="font-family:Arial;font-size:12px;color:red;line-height:normal">Enter a password.</div>

              <hr style="border:none" />
              <div style="text-align:center">
                <button class="btn btn-info" tabindex="3" [disabled]="Password.invalid || UserName.invalid" style="text-align:center;border-radius: 40px;font-family:Arial, Helvetica, sans-serif; line-height:12px;width:100px;font-size: 13px">Login</button>
              </div>
            </div>
            <div class="alert alert-danger" [hidden]="Conditionhide" style="font-family:Arial;font-size:12px;color:red;line-height:normal">Invalid username and password.</div>



          </div>

        </div>
      </div>
      <div class="col-md-4"></div>
    </div>



  </form>
</div>
  
