<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<form [formGroup]="raiseTicketGroup" class="text-center border border-light p-5" (ngSubmit)="onSave(file.files)">


  <div class="card">
    <div class="card-header" style="background-color:cadetblue;height:45px;">
      <b style="font-weight:bold;font-family:Arial;color:white"> Raise Ticket</b>
      <div class="btn-group pull-right">
        <button class="btn btn-info btn-xs rounded-6" type="submit" style="text-align:center;background-color:white;color:blue;border-radius: 40px;font-family: Raleway-SemiBold; line-height: 15px;width:100px;font-size: 13px" [disabled]="!raiseTicketGroup.valid">Save</button>&nbsp;
        <button class="btn btn-danger" routerLink='/raisedTicketList' style="text-align:center;border-radius: 40px;font-family:Raleway-SemiBold; line-height: 15px;width:100px;font-size: 13px">Exit</button>

      </div>

    </div>


    <div class="card-body">

      <div class="row">


        <div class="col-lg-4 col-sm-4 col-4">
          <b style="font-weight:bolder">Catgory : <span style="color:red">*</span></b>
          <div class="form-group">


            <label class="custom-control custom-radio">
              <input name="Category" type="radio" class="custom-control-input" value="Incident" formControlName="Category" required>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Incident </span>
            </label>
            <label class="custom-control custom-radio">
              <input name="Category" type="radio" class="custom-control-input" value="Change Request" formControlName="Category" required>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Change Request</span>
            </label>


          </div>
          <div class="validation-error" *ngIf="fc.Category.invalid && fc.ModuleName.valid && fc.ProblemDescription.valid && fc.Priority.valid && fc.RaisedBy.valid && fc.Status.valid " style="font-family:Arial;font-size:12px;color:red;line-height:normal">Select an option.</div>

        </div>
        <div class="col-lg-4 col-sm-4 col-4">
          <div class="form-group">
            <b>Module/Subject :<span style="color:red">*</span></b>
            <input type="text" class="form-control" [style.border-color]="fc.ModuleName.touched && fc.ModuleName.invalid || fc.ProblemDescription.touched && fc.ModuleName.invalid   ? 'red': 'darkgray'"    formControlName="ModuleName" placeholder="Module/Subject" required>
          </div>
          <div class="validation-error" *ngIf="fc.ModuleName.touched && fc.ModuleName.invalid" style="font-family:Arial;font-size:12px;color:red;line-height:normal">This Field is Required.</div>

        </div>

        <div class="col-lg-4 col-sm-4 col-4">
          <div class="form-group">
            <input type="hidden" formControlName="IncidentId" class="form-control" />
            <b>Incident ID :<span style="color:red">*</span></b>
            <p *ngFor="let list of raiseTicketService.IncidentList" class="form-control" readonly><b>{{list.IncidentCode}}</b></p>
          </div>
        </div>

      </div>





      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12">
          <div class="form-group">
            <b>Incident Description :<span style="color:red">*</span></b>
            <textarea class="form-control" placeholder="Write Description" formControlName="ProblemDescription" [style.border-color]="fc.ProblemDescription.invalid && fc.ProblemDescription.touched ? 'red': 'darkgray'"></textarea>
          </div>
          <div class="validation-error" *ngIf="fc.ProblemDescription.touched && fc.ProblemDescription.invalid" style="font-family:Arial;font-size:12px;color:red;line-height:normal">This Field is Required.</div>

        </div>
      </div>



      <div class="row">


        <div class="col-lg-4 col-sm-4 col-4">
          <div class="form-group" [class.has-error]="fc.Priority.touched && fc.Priority.invalid ">
            <b>Priority :<span style="color:red">*</span></b>
            <select class="form-control" formControlName="Priority" required>
              <option >--Select--</option>
              <option>High</option>
              <option>Medium</option>
              <option>Low</option>
            </select>
          </div>
          <div class="validation-error" *ngIf="fc.Priority.dirty && fc.Priority.invalid" style="font-family:Arial;font-size:12px;color:red;line-height:normal">This Field is Required.</div>
         
        </div>
        <div class="col-lg-4 col-sm-4 col-4">
          <div class="form-group">
            <b>Attachments:</b>
            <input #file type="file" multiple class="form-control" />
          </div>
        </div>

        <div class="col-lg-4 col-sm-4 col-4">
          <div class="form-group">
            <b>Created Date :</b>
            <input type="text" formControlName="RaisedDateTime" readonly="readonly" class="form-control" />
          </div>
        </div>

      </div>



      <div class="row">
        <div class="col-lg-4 col-sm-4 col-4">
          <div class="form-group">
            <b>Created By:<span style="color:red">*</span></b>
            <input type="text" formControlName="RaisedBy" class="form-control" placeholder="Created By" [style.border-color]="fc.RaisedBy.touched && fc.RaisedBy.invalid   ? 'red': 'darkgray'" />
          </div>
          <div class="validation-error" *ngIf="fc.RaisedBy.touched  && fc.RaisedBy.invalid" style="font-family:Arial;font-size:12px;color:red;line-height:normal">This Field is Required.</div>
        </div>
        <div class="col-lg-4 col-sm-4 col-4">
          <div class="form-group">
            <b>Mobile No. : </b>
            <input type="text" class="form-control" placeholder="Mobile No." />
          </div>
        </div>

        <div class="col-lg-4 col-sm-4 col-4">
          <div class="form-group">
            <b>Status :<span  style="color:red">*</span></b>
            <input type="text" formControlName="Status" class="form-control" placeholder="Status" [style.border-color]="fc.Status.touched && fc.Status.invalid    ? 'red': 'darkgray'" />
          </div>
          <div class="validation-error" *ngIf="fc.Status.touched  && fc.Status.invalid" style="font-family:Arial;font-size:12px;color:red;line-height:normal">This Field is Required.</div>
        </div>
      </div>

    </div>


  </div>

</form>





