
<div class="row">

  <div class="col-md-12">
    <form [formGroup]="raiseTicketGroup" (ngSubmit)="onSave(file.files)">

      <div class="card">
        <div class="card-header" style="background-color:#0070ad">

          <div class="pull-left">
            <a routerLink='/raisedTicketList' style="color:white"><i class="fa fa-list" aria-hidden="true" style="color:white"></i>&nbsp;Ticket List</a>

          </div>
          <div class="btn-group pull-right">
            <button class="btn btn-success btn-xs rounded-6"  style="text-align:center;border-radius: 40px;font-family: Raleway-SemiBold; line-height: 15px;width:100px;font-size: 13px" >Save</button>&nbsp;
            <button class="btn btn-danger" routerLink='/raisedTicketList' style="text-align:center;border-radius: 40px;font-family:Raleway-SemiBold; line-height: 15px;width:100px;font-size: 13px">Exit</button>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-sm-4 col-4">
              <b class="label">Catgory : <span style="color:red">*</span></b>
              <div class="form-group">
                <input type="radio" value="Incident" name="Category" class="labeltext" [ngClass]="{ 'is-invalid': submitted && fc.Category.errors }" formControlName="Category" required />&nbsp;<b class="label">Incident</b>
                &nbsp;&nbsp;
                <input type="radio" value="Change Request" name="Category" class="labeltext" formControlName="Category" required />&nbsp;<b class="label">Change Request</b>

              </div>

              <div class="validation-error" *ngIf="fc.Category.errors && submitted"  style="font-family:Arial;font-size:12px;color:red;line-height:normal">Select an option.</div>


            </div>

            <div class="col-lg-4 col-sm-4 col-4">
              <div class="form-group">
                <b class="label">Module/Subject :<span style="color:red">*</span></b>
                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && fc.ModuleName.errors }" formControlName="ModuleName" placeholder="Module/Subject" >
              </div>
              <div class="validation-error" *ngIf="fc.ModuleName.errors && submitted" style="font-family:Arial;font-size:12px;color:red;line-height:normal">This Field is Required.</div>

           </div>

            <div class="col-lg-4 col-sm-4 col-4">
              <div class="form-group">
                <input type="hidden" formControlName="IncidentId" class="form-control" />
                <b class="label">Ticket No. :<span style="color:red">*</span></b>
                <p *ngFor="let list of raiseTicketService.IncidentList" class="form-control labeltext" readonly><b>{{list.IncidentCode}}</b></p>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-lg-4 col-sm-4 col-4">
              <div class="form-group">
                <b class="label">Email :</b>
                 <label class="form-control labeltext" readonly>   {{emailid}}</label>
            
              </div>

            </div>

            <div class="col-lg-8 col-sm-8 col-8">
              <div class="form-group">
                <b class="label">Ticket Description :<span style="color:red">*</span></b>
                <textarea class="form-control labeltext" placeholder="Write Description" formControlName="ProblemDescription" [ngClass]="{ 'is-invalid': submitted && fc.ProblemDescription.errors }"></textarea>
              </div>
           <div class="validation-error" *ngIf="fc.ModuleName.errors && submitted" style="font-family:Arial;font-size:12px;color:red;line-height:normal">This Field is Required.</div>

            </div>
          </div>



          <div class="row">
            <div class="col-lg-4 col-sm-4 col-4">
              <div class="form-group">
                <b class="label">Priority :<span style="color:red">*</span></b>
                <select class="form-control label"  style="height:34px;" (change)="callType($event.target.value)"   formControlName="Priority" [ngClass]="{ 'is-invalid': dropdownsubmitted }">
                  <option class="label">--Select--</option>
                  <option class="label">High</option>
                  <option class="label">Medium</option>
                  <option class="label">Low</option>
                </select>
              </div>
              <div class="validation-error" *ngIf="dropdownsubmitted" style="font-family:Arial;font-size:12px;color:red;line-height:normal">This Field is Required.</div>
      
            </div>
            <div class="col-lg-4 col-sm-4 col-4">
              <div class="form-group">
                <b class="label">Attachments:</b>
                <input #file type="file" multiple class="form-control labelextersmall" />
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-4">
              <div class="form-group">
                <b class="label">Created Date :</b>
                <input type="text" formControlName="RaisedDateTime" readonly="readonly" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-4 col-4">
              <div class="form-group">
                <b class="label">Created By:<span style="color:red">*</span></b>
                <input type="hidden" formControlName="RaisedBy"  class="form-control"  />
                <label readonly="readonly"  class="form-control labeltext">{{name}}</label>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-4">
              <div class="form-group">
                <b class="label">Mobile No. : </b>
                <input type="text" maxlength="10" formControlName="MobileNo"  onkeypress="return event.charCode >= 48 && event.charCode <= 57"class="form-control" placeholder="Mobile No." />
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>








